{% extends 'base.html.twig' %}

{% block body %}

    <h2>Перегляд вакансії</h2>
<p>Ім'я: {{ job.name }}</p>
<p>Опис: {{ job.description }}</p>
    {% if app.user %}
        <p><a href="{{ path('hackaton_cleaner_job_apply', {'jobId': job.id}) }}">Відгукнутись на вакансію</a></p>
    {% endif %}

{% if edit_rights %}
<p><a href="{{ path('hackaton_cleaner_job_edit', {'id': job.id}) }}">Редагувати</a></p>
<p><a href="{{ path('hackaton_cleaner_job_apply_view', {'jobId': job.id}) }}">Переглянути список кандидатів</a></p>
{% endif %}


{% endblock body %}