{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="container">
    <div class="row">

        <div class="col-md-9">

            {% block content %}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="well well-sm">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <img src="{{ asset('uploads/photos/' ~ profile.path) }}"
                                            width="250" height="550"
                                             class="img-responsive img-rounded">
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <p>
                                            <i class="glyphicon glyphicon-user"></i>Фио:{{ profile.fio }}<br/>
                                        </p>

                                        <p><i class="glyphicon glyphicon-envelope"></i>Контактная
                                            почта: {{ profile.user.email }}</p>

                                        <p><i class="glyphicon glyphicon-glass"></i>Стать: {{ profile.gender }}</p>

                                        {% if profile.job %}
                                            <p>Де працюю: <a href="{{ path('hackaton_cleaner_job_view', {'id': profile.job.id}) }}">{{ profile.job.name }}</a></p>
                                        {% else %}
                                            <p>Де працюю: Шукаю роботу</p>
                                        {% endif %}


                                        {% if app.user.id is same as (profile.id) %}
                                        <p><a href="{{ path('user_manage_profile') }}" class="button">Редагувати</a></p>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}