<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src=" {{ asset('js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>

    <title>{% block title %}DinnerHub{% endblock %}</title>
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap/css/modern-business.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap/font-awesome-4.1.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('welcome_page') }}">DinnerHub</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        {% block top_menu %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('hackaton_dinners') }}">Їдальні</a>
                    </li>
                    <li>
                        <a href="{{ path('hackaton_cleaner_job_homepage') }}">Вакансії</a>
                    </li>
                    {% if app.user %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown">Мій профіль</a>
                            <ul  class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path('user_show_profile', {'id':app.user.id}) }}">Профіль</a>
                                </li>
                                <li>
                                    <a href="{{ path('hackaton_cleaner_user_job_view', {'id':app.user.id}) }}">Я шукаю роботу</a>
                                </li>
                                <li>
                                    <a href="{{ path('hackaton_cleaner_employer_job_view', {'id':app.user.id}) }}">Я шукаю прибиральників</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">Вийти</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">Вхід</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endblock %}
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


{% if app.request.attributes.get('_route') == 'welcome_page' %}
{% block carousel %}
<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('{{ asset('bundles/img/carousel_1.jpg') }}');"></div>
            <div class="carousel-caption">
                <h2>Мир</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ asset('bundles/img/carouserl_2.jpg') }}');"></div>
            <div class="carousel-caption">
                <h2>Труд</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{{ asset('bundles/img/сarousel_3.jpg') }}');"></div>
            <div class="carousel-caption">
                <h2>Травень</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
{% endblock %}
{% else %}

{% endif %}

{% block body %}

{% endblock %}

<!-- Footer -->
{% block footer %}
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <center><p>Copyright &copy; DinnerHub 2014</p></center>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascript %}

    <!-- Script to Activate the Carousel -->
   {# <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>#}
{% endblock %}
</body>

</html>
