{% extends 'HackatonDinningRoomBundle::layout.html.twig' %}

{% block content %}

    <script type="text/javascript">
        var l1 = '{{ dinner.latitude }}';
        var l2 = '{{ dinner.longitude }}';
        function initialize() {
            var myLatlng = new google.maps.LatLng(l1, l2);
            var mapOptions = {
                zoom: 17,
                center: myLatlng
            };
            var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Hello World!'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <br/>
    <p></p>
    <div id="googleMap" style="width:500px;height:380px;"></div>
    <p></p>
    <br/>

    <div id="dinner_room">
        <img src="{{ asset('uploads/diners/' ~ dinner.photo) }}" width="500" height="300">
        <p>{{ dinner.name }}</p>
        <p></p>{{ dinner.description }}</p>
    </div>

    {% if app.user %}
        <p></p>
        Додайте нову страву:
        <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="Додати страву">
        </form>
    {% endif %}

    <div id="foods">
        {% for food in dinner.foods %}
            <div id="food">
                {{ food.name }} <a href="#" class="make_order" data-foodid="{{ food.id }}" data-dinning-id="{{ dinner.id }}">Замовити</a>
                {{ food.description }}
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $.each($(".make_order"), function(k, val){
                $(val).click(function (e) {
                    e.preventDefault();
                    var food = $(this).attr('data-foodid');
                    var dinningRoom = $(this).attr('data-dinning-id');
                    var x=$.ajax({
                        'url': '{{ path('add_food') }}',
                        'method': 'POST',
                        'data': JSON.stringify({'food': food, 'dinningRoom': dinningRoom}),
                        'dataType': 'json',
                        'success': function (data) {
                            console.log(data);
                        },
                        'error' : function(data) {
                            console.log(data);
                        }
                    });
                });
            });



        });


    </script>

{% endblock %}
