{% extends 'HackatonMainBundle::layout.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('user_registered') %}
        <div class="alert alert-success"><strong>
                {{ flashMessage }}
                <a href="{{ path('user_manage_profile') }}">Керування профілем</a>
            </strong></div>
    {% endfor %}

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            {% block page_header %}
                <div class="col-lg-12">
                    <h1 class="page-header">
                        DinnerHub
                    </h1>
                </div>
            {% endblock %}
            {% block col_left %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-check"></i> Актуальні вакансії</h4>
                        </div>
                        <div class="panel-body">
                            <p><ul>
                                {% for job in jobs %}
                                    <li><a href="{{ path('hackaton_cleaner_job_view', {'id': job.id}) }}"> {{ job.name }}</a></li>
                                {% endfor %}
                            </ul></p>
                            <a href="{{ path('hackaton_cleaner_job_homepage') }}" class="btn btn-default">Детальніше</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block col_middle %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-gift"></i> Заощадимо ваш час</h4>
                        </div>
                        <div class="panel-body">
                            <p>Вам не доведеться стояти у черзі - люди, що скористались нашим сервісом обслуговуються у їдальнях позачергово за рахуной попередньо замовленної їжі. Для цього потрібно обрати їдальню, та страву за вашим смаком.</p>
                            <a href="{{ path('hackaton_dinners') }}" class="btn btn-default">Замовити</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block col_right %}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw fa-compass"></i> Допоможемо знайти їдальню</h4>
                        </div>
                        <div class="panel-body">
                            <p>За допомогою нашого сервісу ви зможете з легкістю знайти місце для обіду, для цього достатно натиснути на посилання нижче, та скористатися зручною картою :)</p>
                            <a href="{{ path('hackaton_dinners') }}" class="btn btn-default">Знайти їдальню</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <!-- /.row -->
        {% block adblock %}
            <!-- Portfolio Section -->
            <div class="row">
            </div>
            <!-- /.row -->
        {% endblock %}
        <!-- Features Section -->
        {% block bottom %}
            <div class="row">
                {% block bottom_header %}
                    <div class="col-lg-12">
                        <h2 class="page-header">Про проект</h2>
                    </div>
                {% endblock %}
                {% block bottom_content %}
                    <div class="col-md-6">
                        <p>Використані були:</p>
                        <ul>
                            <li><strong>Symfony 2.6.1</strong>
                            </li>
                            <li>Bootstrap v3.2.0</li>
                            <li>Font Awesome v4.1.0</li>
                            <li>Google maps</li>
                        </ul>
                        <p>У якості завдання отримали проблеми: <strong>громадського харчування та прибиральників</strong>.</p>
                        <br/>
                        <p>Проект вміє:</p>

                    </div>
                {% endblock %}
                {% block bot_ad %}
                    <div class="col-md-6">
                        <img class="img-responsive" src="{{ asset('bundles/img/hackathon.jpg') }}" alt="hackathon">
                    </div>
                {% endblock %}
            </div>
            <!-- /.row -->

            <hr>

            <!-- Call to Action Section -->
            {% block bot_text %}
                <div class="well">
                <div class="row">
                    <div class="col-md-8">
                        <p>Розробники:</p><br/>
                        <p><strong>Дмитро Чабаненко, Віктор Новіков та Леонід Усачов.</strong></p>
                    </div>
                </div>
            {% endblock %}
            </div>
        {% endblock %}
        <hr>

    </div>

{% endblock %}
